.range-selector {
  position: absolute;
  top: 17px;
  z-index: 99;
  right: 15px;
  margin: 0;
  padding: 0;
  height: 0;

  .range-button {
    background-color: #ddd;
    font-size: 12px;
    border: 1px solid #eee;
    color: #000;
    padding: 2px 10px;
    height: 30px;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 6px;
    outline: none;
    cursor: pointer;
    font-weight: 600;

    &.selected, &:hover {
      background-color: #444;
      color: #fff;
    }
  }
}
