<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script defer src="gocd-server-comms.js"></script>
  <script defer src="highcharts.src.js"></script>
  <script defer src="no-data-to-display.src.js"></script>
  <script defer src="xrange.src.js"></script>
</head>
<body id="<%= htmlWebpackPlugin.options.title %>">
  <div id="chart-container"></div>
</body>
</html>
