<html>
<head>
  <title><%= title %></title>
  <script defer src="gocd-server-comms.js"></script>
  <script defer src="highcharts.src.js"></script>
  <script defer src="no-data-to-display.src.js"></script>
  <script defer src="xrange.src.js"></script>
  <script defer src="@scripts/main.js"></script>
  <link href="@scripts/global.scss" rel="stylesheet">
</head>
<body id="<%= title %>">
  <div id="chart-container"></div>
</body>
</html>
