<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script defer src="gocd-server-comms.js"></script>
    <script defer src="highcharts.src.js"></script>
    <script defer src="no-data-to-display.src.js"></script>
    <script defer src="xrange.src.js"></script>

    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
        <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>

</head>
<body id="<%= htmlWebpackPlugin.options.title %>">
<!--  <div id="chart-container" style="width: 600px;height:400px;"></div>-->
<div id="chart-container-meta">
<div id="breadcrumb"></div>
<div id="settings"></div>
</div>
<!--<div id="chart-container" style="width: 900px; height: 500px;"></div>-->
<div id="chart-container"></div>
<div id="chart-container-footer"></div>
</body>
</html>
