name: Testing For PRs

on: [ pull_request ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: test (postgres-${{ matrix.postgres-version }})
    strategy:
      matrix:
        # See https://endoflife.date/postgresql
        postgres-version: [ "14", "15", "16", "17", "18" ]
      fail-fast: false
    services:
      postgres:
        image: postgres:${{ matrix.postgres-version }}
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 20s
          --health-retries 10
        ports:
          - 5432:5432
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
      - name: Set up NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: npm
      - name: Build with Gradle
        run: ./gradlew assemble check
        env:
          PGPASSWORD: postgres